<div class="login-container ">    
    <ng-container *ngIf="(auth.isAuthenticated() | async) === false; else loggedIn" class="block px-4 py-2 text-sm text-gray-700">
      <button (click)="auth.login()">Iniciar Sesión</button>
      <button (click)="auth.signUp()">Registrarse</button>
    </ng-container>
        
    <ng-template #loggedIn>
      <div *ngIf="auth.getUser() | async as user">
        <!-- <img [src]="user.picture" alt="Avatar"> -->
        <h3>Bienvenido, {{user.name}}</h3>
        <p>Email: {{user.email}}</p>
      </div>
      <button (click)="auth.logout()">Cerrar Sesión</button>
    </ng-template>
  </div>