<div class="p-4">
  <div class="xl:max-w-screen-xl lg:max-w-screen-lg max-w-xl mx-auto">
    <div class="grid items-start grid-cols-1 lg:grid-cols-5 gap-8 max-lg:gap-12 max-sm:gap-8">
      <!-- Columna de imagen -->
      <div class="w-full lg:sticky top-4 lg:col-span-3 h-fit">
        <div class="flex flex-row gap-2">
          <div class="flex-1 relative">
            <img 
              [src]="tempImage() || defaultImage" 
              alt="imagen del personaje" 
              class="w-full max-h-[70vh] aspect-auto object-contain rounded-xl border-4 border-double border-b-red-800 shadow-lg bg-gray-50"
            />
          </div>
        </div>
      </div>

      <!-- Columna del formulario -->
      <div class="w-full lg:col-span-2 border-4 border-double border-b-red-800 p-5 rounded-xl bg-white shadow-lg">
        <form class="space-y-6" [formGroup]="characterForm">
          <!-- Campo de URL de imagen mejorado -->
          <mat-form-field class="w-full lg:col-span-2">
            <mat-label>Url de la Imagen</mat-label>
            <input 
            formControlName="no"  
            matInput
            type="url"
            class="!pt-2 rounded-lg border-slate-200"
            >
            <button 
                matSuffix 
                mat-icon-button 
                (click)="loadImage()"
                [disabled]="!characterForm.get('no')?.value"
                >
                <mat-icon>image_search</mat-icon>
            </button>
              <mat-hint>Formatos soportados: .png, .webp, .jpg</mat-hint>
            
          </mat-form-field>

          <!-- Campo de nombre del personaje -->
          <mat-form-field class="w-full">
            <mat-label class="font-medium text-withe-600">Nombre del Personaje</mat-label>
            <input 
              placeholder="Ej: Sektor"  
              matInput 
              type="text" 
              formControlName="name"
              class="!pt-2 rounded-lg border-slate-200"
            >
          </mat-form-field>

          <!-- Botones de acción -->
          <div class="flex flex-col sm:flex-row justify-between gap-4 pt-4">
            <button 
              type="button" 
              class="w-full sm:w-auto px-6 py-3 bg-gradient-to-r from-green-600 to-green-700 hover:from-green-700 hover:to-green-800 text-white  rounded-full transition-all shadow-md hover:shadow-lg active:scale-95"
              (click)="saveCharacter()"
            >
              Guardar
            </button>

            <button 
              type="button" 
              class="w-full sm:w-auto px-6 py-3 bg-gradient-to-r from-blue-600 to-blue-700 hover:from-blue-700 hover:to-blue-800 text-white  rounded-full transition-all shadow-md hover:shadow-lg active:scale-95"
              (click)="clearForm()"
            >
              Limpiar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>