<div class="font-[sans-serif] p-4">
    <div class="xl:max-w-screen-xl lg:max-w-screen-lg max-w-xl mx-auto">
      <div class="grid items-start grid-cols-1 lg:grid-cols-5 gap-8 max-lg:gap-12 max-sm:gap-8">
        <div class="w-full lg:sticky top-0 lg:col-span-3">
          <div class="flex flex-row gap-2">
            <div class="flex-1">
                    <img 
                    [src]="tempImage() || defaultImage" 
                    alt="imagen del personaje" 
                    class="w-2xl object-top object-cover"                    
                    />            
            </div>
          </div>
        </div>
    
        <div class="w-full lg:col-span-2 border-4 border-double border-fuchsia-600 p-5 ">
              <form class="example-form"  [formGroup]="characterForm">
                <mat-form-field class="w-full lg:col-span-2">
                  <mat-label>URL de la Imagen</mat-label>
                  <input 
                    matInput 
                    type="url" 
                    formControlName="no"
                    placeholder="Ej: https://ejemplo.com/imagen.jpg"
                  >
                  <button 
                    matSuffix 
                    mat-icon-button 
                    (click)="loadImage()"
                    [disabled]="!characterForm.get('no')?.value"
                    >
                    <mat-icon>image_search</mat-icon>
                  </button>
                  <mat-hint>Formatos soportados: .png, .webp, .jpg</mat-hint>
                </mat-form-field>
              
                <mat-form-field class="w-full lg:col-span-2">
                    <mat-label>Nombre del Personaje</mat-label>
                        <input placeholder="Ej; Sektor"  matInput type="text" formControlName="name">
                </mat-form-field>
    
                  <div class="flex justify-between">
                    <button 
                    type="button" 
                    class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                    (click)="saveCharacter()"
                    >
                    Guardar
                  </button>
    
                    <button 
                    type="button" 
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"
                    (click)="clearForm()"
                    >
                    Limpiar
                  </button>
                 </div>
            </form>
        </div>        
      </div>
  </div>
  